fastapi
uvicorn
jinja2
python-multipart
python-dotenv
pypdf
pymupdf
sentence-transformers
langchain
langchain-core
langchain-community
langchain-groq
langchain-openai
qdrant-client
langchain-qdrant
logfire
